{#
/**
 * @file
 * A mein-beitrag entry's header consisting of the subject, answer, date and tags.
 *
 * Available variables:
 * - ali: An associative array or object with the following keys:
 */
#}
{% spaceless %}
  {% set date = paragraph.created.value | date('d.m.Y') %}
  <article class="mein-beitrag-teaser {{ 'mein-beitrag-teaser__' ~ subject['#object'].parent_field_name.value }}">
    <div class="mein-beitrag-teaser__right">
      <ul class="mein-beitrag-teaser__items">
        <li class="mein-beitrag-teaser__item mein-beitrag-teaser__item-submitted">{{ date }}</li>
      </ul>

      {% if language_available_translation_notice %}
        <div class="mein-beitrag-teaser__messages content__messages">
          {{ language_available_translation_notice }}
        </div>
      {% endif %}

      <div class="mein-beitrag-teaser__subject">{{ subject }}</div>
      <div class="mein-beitrag-teaser__content">
        <div class="mein-beitrag-teaser__image"></div>
        <div class="mein-beitrag-teaser__answer">{{ answer }}</div>
      </div>

      {% set links = [] %}
      {% for tag in tags %}
        {% set links = links | merge([{'title': tag.text, 'url': tag.url, 'classes': ['link--tag', 'link--tag__small']}]) %}
      {% endfor %}

      {% include '@content/list-links/list-links.twig' with {
        links: links,
        classes: ['list-links--tags'],
      } %}
    </div>
  </article>
{% endspaceless %}
