{% set classes = [
  mobile_disabled ? 'block--mobile-disabled'
] %}
<nav role="navigation" aria-labelledby="block-{{ menu_name }}-menu" id="block-{{ menu_name }}" class="footer-menu__{{ menu_name }}{{ classes|join(' ') }}">
  <h2 class="footer-menu__title">{{ title|t }}</h2>
  <ul class="footer-menu__list">
    {% for item in items %}
      <li class="footer-menu__item">
        {% include '@atoms/link/link.twig' with {
          title: item.title,
          url: item.url,
          classes: ['footer-menu__link'],
        } %}
      </li>
    {% endfor %}
  </ul>
</nav>
