{%
  set classes = [
    'block-layout__element'
  ]
%}

<li {{ block_layout_element.attributes.addClass(classes) }}>
  {% if block_layout_element.link_url %}
    <a class="block-layout__link-wrapper" href="{{ block_layout_element.link_url }}">
  {% endif %}

  <div class="block-layout__element-inner">
    {% if block_layout_element.image %}
      <div class="block-layout__element-image">{{ block_layout_element.image }}</div>
    {% endif %}

    {% if block_layout_element.icon %}
      <div class="block-layout__element-icon">{{ block_layout_element.icon }}</div>
    {% endif %}

    {% if block_layout_element.title %}
      <h3 class="block-layout__element-title">{{ block_layout_element.title }}</h3>
    {% endif %}
  </div>

  {% if block_layout_element.link_url %}
    </a>
  {% endif %}
</li>