{#
/**
 * @file
 * Default site page template.
 *
 * Common component variables:
 * - modifier: (optional) A modifier for selecting a component variant.
 * - classes: (optional) An array of extra classes to set on the component.
 * - attributes: (optional) An attributes object with extra attribtes for the
 *   component. This will be merged with the classes given/set else.
 *
 * Component-specific variables:
 * - modifier: Site modifier.
 * - main_navigation: Main navigation region.
 * - header: Items for the header region.
 * - content_top: The content top area of the current page.
 * - content: The main content of the current page.
 * - sidebar: Items for the sidebar region.
 * - content_bottom: Items for the content_bottom region.
 * - content_top_wide: Whether content top region is wide.
 * - navigation: Navigation bar region.
 */
#}
<div id="site" class="site{{ modifier ? ' site__' ~ modifier }}">

  {# Navigation #}
  <section id="site__navigation" class="site__navigation" role="navigation">
    <div class="site__navigation-content">
      {% block navigation %}
        {{ navigation|raw }}
      {% endblock %}
    </div>
  </section>

  {# Page wrapper #}
  <section id="site__page" class="site__page">

    {# Header #}
    {% include '@site-regions/header/header.twig' with {
      header: header,
      main_navigation: main_navigation,
    }%}

    {# Content wrapper #}
    <div class="site__main {{ sidebar ? 'site__main--sidebar' }}{{ content_top_wide ? ' site__main--top-wide' }}">

      {# Content top #}
      {% if content_top %}
        <section class="site__content-top">
          {% block content_top %}
            {{ content_top|raw }}
          {% endblock %}
        </section>
      {% endif %}

      {# Sidebar #}
      {% if sidebar %}
        <section class="site__sidebar">
          {% block sidebar %}
            {{ sidebar|raw }}
          {% endblock %}
        </section>
      {% endif %}

      {# Main content #}
      {% if content %}
        <main class="site__content" role="main">
          <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
          {% block content %}
            {{ content|raw }}
          {% endblock %}
        </main>
      {% endif %}

    </div>

    {# Content bottom #}
    {% if content_bottom %}
      <section class="site__content-bottom">
        {% block content_bottom %}
          {{ content_bottom|raw }}
        {% endblock %}
      </section>
    {% endif %}

  </section>

  {# Site overlay for navigation #}
  <section id="site__overlay" class="site__overlay"></section>

</div>
