{#
/**
 * @file
 * Default site page template.
 *
 * Common component variables:
 * - modifier: (optional) A modifier for selecting a component variant.
 * - classes: (optional) An array of extra classes to set on the component.
 * - attributes: (optional) An attributes object with extra attribtes for the
 *   component. This will be merged with the classes given/set else.
 *
 * Component-specific variables:
 * - notifications: Items for notifications region.
 * - header: Items for the header region.
 * - content_top: The content top area of the current page.
 * - content: The main content of the current page.
 * - sidebar_first: Items for the sidebar_first region.
 * - sidebar_second: Items for the sidebar_second region.
 * - footer: Items for the footer region.
 */
#}
{% set classes = classes|default([])|merge([
  'site',
  modifier ? 'site--' ~ modifier,
]) %}

{# @todo: Handle attributes like this.
{% set attributes = attribtues|default(create_attributes()) %}
{% set attributes = attribtues.addClass(classes).addAttribute('id', 'site') %}
#}

{% set notifications2 %}
  {% block notifications2 %}
    {{ notifications2 }}
  {% endblock %}
{% endset %}

<div {{ attributes }}>

  {% if block("notifications") %}
    {% block notifications %}
    <section class="site__notifications">
      {{ notifications }}
    </section>
    {% endblock %}
  {% endif %}

  {# Header #}
  {% block header %}
    {{ header }}
  {% endblock %}

  {# Breadcrumb #}
  <section class="site__breadcrumb">
    {% block breadcrumb %}
      {{ breadcrumb }}
    {% endblock %}
  </section>

  <div class="site__main{{ sidebar_second ? ' site__main--sidebar' : '' }}">

    {# Content wrapper #}
    <div class="site__content{{ sidebar_first ? ' site__content--sidebar' : '' }}">

      {# Content top #}
      {% if content_top %}
        <section class="site__content-top">
          {% block content_top %}
            {{ content_top }}
          {% endblock %}
        </section>
      {% endif %}

      {# Main content #}
      <main class="site__content-main" role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
        {% block content %}
          {{ content }}
        {% endblock %}
      </main>

      {# Sidebar first #}
      {% if sidebar_first %}
        <section class="site__first-sidebar">
          {% block sidebar_first %}
            {{ sidebar_first }}
          {% endblock %}
        </section>
      {% endif %}

    </div>

    {# Sidebar second #}
    {% if sidebar_second %}
      <section class="site__second-sidebar">
      {% block sidebar_second %}
        {{ sidebar_second }}
      {% endblock %}
      </section>
    {% endif %}
  </div>

  {# Footer #}
  {% block footer %}
    {{ footer }}
  {% endblock %}
</div>
