<!doctype html>
<html class="{% if styleguide.page_title|lower != 'icons' %}iconset--{{ icon_set }}{% endif %}" lang="de">
  <head>
    <title>{{ styleguide.page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if styleguide.show_styleguide_nav %}
      <link rel="stylesheet" href="{{ app.request.basepath }}{{ styleguide.styleguide_css }}" type="text/css">
    {% endif %}
    <link rel="stylesheet" href="{{ app.request.basepath }}{{ styleguide.variant_css }}" type="text/css">
    {% for font_css_url in styleguide.fonts_css %}
      <link rel="stylesheet" href="{{ app.request.basepath }}{{ font_css_url }}" type="text/css">
    {% endfor %}
    <style>{{ styleguide.design_settings_css }}</style>
    <script src="{{ app.request.basepath }}{{ styleguide.js_path }}"></script>
  </head>
  <body class='styleguide'>
    {% if styleguide.show_styleguide_nav %}
      {% include 'navigation.twig' %}
    {% endif %}
    {% if styleguide.active_page is not empty %}
      {% include '@pages/' ~ styleguide.active_page ~ '.twig' %}
    {% else %}
      {% include 'index.twig' %}
    {% endif %}
  </body>
</html>
