{#
/**
 * @file
 * Display a teaser.
 *
 * Available variables:
 * - teaser: A teaser object with the following properties:
 *   - view_mode: The view mode of teaser. One of (default, wide, high).
 *   - img: object describing image media object
 *   - url: The url to link to.
 *   - headline: The teaser's headline text.
 *   - text: The teaser's text.
 */
#}
{% set classes = [
  'teaser-box',
  'teaser-box-image',
  'teaser-box-view-mode--' ~ teaser.view_mode
] %}

<div class="{{ classes|join(' ') }}">
  <div class="teaser-box__inner">
    {% block image %}
      {% include '@atoms/media-image/media-image.twig' with {
        'image_desktop': teaser.img.image_desktop,
        'image_tablet': teaser.img.image_tablet,
        'image_mobile': teaser.img.image_mobile,
        'image_title': teaser.img.image_title,
        'image_alt': teaser.img.image_alt,
        'image_classes': ['teaser-box__image', 'teaser-box-image__image'],
      } %}
    {% endblock %}
    <div class="teaser-box__content-wrapper teaser-box-image__content-wrapper">
      <div class="teaser-box__content teaser-box-image__content">
        <h2 class="teaser-box__headline teaser-box-image__headline">
          <a href="{{ teaser.url }}" class="teaser-box__headline-link">{{ teaser.headline }}</a>
        </h2>
        {% if teaser.text %}
          <div class="teaser-box__text teaser-box-image__text">
            {{ teaser.text }}
          </div>
        {% endif %}
        {% if link_display %}
        <a href="{{ teaser.url }}" class="teaser-box__link teaser-box-image__link">
          {{ 'Learn more'|t }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
