{% for item in families %}
  <div>
      <h2 style="margin-top: 1rem">{{ item.name }}</h2>
      <p>Font: {{ item.value }}</p>
    <div style="font-family: {{ item.value }};"></div>
    <div>
      <pre><code>
.class {
  font-family: {{ item.name }};
}
      </code></pre>
    </div>

    <h4>Normal</h4>
    <div class="font-normal--{{ item.name|replace({"$ff--" : ""}) }}">{{ excerpt.short }}</div>

    <h4>Normal Italic</h4>
    <div class="font-normal--{{ item.name|replace({"$ff--" : ""}) }}-italic">{{ excerpt.short }}</div>

    <h4>Bold</h4>
    <div class="font-bold--{{ item.name|replace({"$ff--" : ""}) }}">{{ excerpt.short }}</div>

    <h4>Bold Italic</h4>
    <div class="font-bold--{{ item.name|replace({"$ff--" : ""}) }}-italic">{{ excerpt.short }}</div>
  </div>
  <hr>
{% endfor %}
