{#
/**
 * @file
 * Display a teaser.
 *
 * Available variables:
 * - teaser: A teaser object with the following properties:
 *   - type: The type of teaser. One of (default, wide, high, video).
 *   - img: The url to an image.
 *   - url: The url to link to.
 *   - headline: The teaser's headline text.
 *   - text: The teaser's text.
 *   - video: The video embed code. If this is present, only type is needed.
 */
#}
{% set classes = [
  'teaser-box',
  'teaser-box-' ~ teaser.type,
] %}
<div class="{{ classes|join(' ') }}">
  {% include '@atoms/media-image/media-image.twig' with {
    'image_desktop': teaser.img.image_desktop,
    'image_tablet': teaser.img.image_tablet,
    'image_mobile': teaser.img.image_mobile,
    'image_title': teaser.img.image_title,
    'image_alt': teaser.img.image_alt,
    'image_classes': ['teaser-box__image', 'teaser-box-' ~ teaser.type ~ '__image'],
  } %}
  <div class="teaser-box__content-wrapper teaser-box-{{ teaser.type }}__content-wrapper">
    {% if teaser.type != 'video' %}
      <div class="teaser-box__content teaser-box-{{ teaser.type }}__content">
        <h2 class="teaser-box__headline teaser-box-{{ teaser.type }}__headline">
          <a href="{{ teaser.url }}" class="teaser-box__headline-link">{{ teaser.headline }}</a>
        </h2>
        {% if teaser.text %}
          <p class="teaser-box__text teaser-box-{{ teaser.type }}__text">{{ teaser.text }}</p>
        {% endif %}
        {% if link_display %}
          <a href="{{ teaser.url }}" class="teaser-box__link teaser-box-{{ teaser.type }}__link">
            {{ 'Learn more'|t }}
          </a>
        {% endif %}
      </div>
    {% else %}
      {% include '@atoms/media-video/media-video.twig' with { 'embed_url': teaser.embed_url } %}
    {% endif %}
  </div>
</div>
