{#
/**
 * @file
 * Display of user info
 *
 * Available variables:
 * - name: The linked name of the user
 * - image: The url of the user image
 * - links: The links for the user
 * - profile_classes: Extra-classes for the component
 */
#}
<section class="navigation-profile {{ profile_classes|join(' ') }}">
  <div class="navigation-profile__image">
    {% block image %}
      {% if profile_image %}
        <a href="{{ profile_link }}"><img src="{{ profile_image }}" alt="" class="navigation-profile__image" /></a>
      {% endif %}
    {% endblock %}
  </div>

  <div class="navigation-profile__name">
    {{ profile_name }}
  </div>

  <div class="navigation-profile__links">
    {% block links %}
      {% if profile_links %}
        <ul class="navigation-profile__link-list">
          {% for link in profile_links %}
            <li class="navigation-profile__link">{{ link }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endblock %}
  </div>
</section>
