<section class="mein-beitrag">
  <div class="mein-beitrag__header">
    <div class="mein-beitrag__title">{{ title }}</div>
  </div>
  <div class="mein-beitrag__paragraphs">
    {{ content.field_basis }}
    {{ content.field_private_vorsorge }}
    {{ content.field_mobilitaet }}
    {{ content.field_kleinunternehmen }}
    {{ content.field_unternehmen }}
    {{ content.field_qualitaet }}
    {{ content.field_daten_analytics }}
    {{ content.field_partnerschaftsfahigkeit }}
    {{ content.field_digitale_losungen }}
    {{ content.field_fokus_vereinfachung }}
  </div>
</section>
