{#
/**
 * @file
 * Media Image (Responsive)
 *
 * Available variables:
 * - image_desktop
 * - image_tablet
 * - image_mobile
 * - image_alt
 * - image_title
 */
#}
{% spaceless %}
  {% if image_desktop %}
    {% set image_default = image_desktop %}
  {% elseif image_tablet %}
    {% set image_default = image_tablet %}
  {% else %}
    {% set image_default = image_mobile %}
  {% endif %}

  {% set classes = [
    'media',
    'media--blazy',
    'media--responsive',
    'media--image',
    'media-image__image',
  ] %}

  {% if image_classes %}
    {% set classes = classes|merge(image_classes) %}
  {% endif %}

  <div class="{{ classes|join(' ') }}">
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      {% if image_desktop %}
        <source srcset="{{ image_desktop }} 1x" media="all and (min-width: 851px)" type="image/jpeg"/>
      {% endif %}
      {% if image_tablet %}
        <source srcset="{{ image_tablet }} 1x" media="all and (min-width: 560px) and (max-width: 850px)" type="image/jpeg"/>
      {% endif %}
      {% if image_mobile %}
        <source srcset="{{ image_mobile }} 1x" type="image/jpeg"/>
      {% endif %}
      <!--[if IE 9]></video><![endif]-->
      <img class="media__image media__element b-lazy b-responsive b-loaded" src="{{ image_default }}" alt="{{ image_alt }}" title="{{ image_title }}" />
    </picture>
  </div>
{% endspaceless %}
