<article class="news-slideshow-element">

  {% if image_exists %}
    <div class="news-slideshow-element__image">
      {{ image_background }}
    </div>
  {% endif %}

  <div class="news-slideshow-element__wrapper">
    <div class="news-slideshow-element__content">
      <header class="news-slideshow-element__header">
        {{ title_prefix }}
        <h2{{ title_attributes.addClass('news-slideshow-element__title') }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
        {{ title_suffix }}

        <div class="news-slideshow-element__meta">
          <span class="news-slideshow-element__submitted">{{ authored_on }}</span>
          {% if likes is not null %}
           | <span class="news-slideshow-element__likes-count">{{ likes }}</span>
          {% endif %}

          {% if comments_open %}
             | <span class="news-slideshow-element__comments-count">{{ comments }}</span>
          {% endif %}
        </div>
      </header>

      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content }}

        <p class="news-slideshow-element__read-more"><a href="{{ url }}" rel="bookmark">{{ read_more_text }}</a></p>
      </div>
    </div>
  </div>

</article>
