<h1 contenteditable>Header 1 (35px): {{ excerpt.short }}</h1>
<h2 contenteditable>Header 2 (22px): {{ excerpt.short }}</h2>
<h3 contenteditable>Header 3 (16px): {{ excerpt.medium }}</h3>
<h4 contenteditable>Header 4 (16px): {{ excerpt.medium }}</h4>
<h5 contenteditable>Header 5 (16px): {{ excerpt.medium }}</h5>
<h6 contenteditable>Header 6 (16px): {{ excerpt.medium }}</h6>
